<% @rooms.each do |room| %> 
<%= link_to room.box, user_room_path(@user.id, room.id), class: "lead_user"%> 
<div class="message_image">
<%= image_tag room.image.url, class: "message_image_first" %>  
</div>
<% end %>