<div class="count_all"> 
<div class="count_title">相談室一覧</div>
<% @rooms.each do |room| %> 
<div class="count_index">
<div class="count_name">
<%= link_to room.box, user_room_path(@user.id, room.id)%> 
</div> 
<div class="count_image">
<%= image_tag room.image.url, height: "50%", width: "60%", class: "count_image"%> 
</div> 
</div>
<% end %> 
</div>