<div class="follow_all"> 
<div class="container"> 
<div class="follow_title">フォロワー一覧</div>
  <% @users.each do |user| %> 
<div class="follow_index">
  <%= image_tag user.profile.image.url, class: "follow_image" %>
<div class="follow_info"> 
  <%= link_to "#{user.name}", user_path(user), method: :get, class: "follow_name" %> 
  <%= link_to "#{user.profile.certificaton}", class: "follow_center" %> 
</div>
  <% end %> 
</div> 
</div>