  <div class="home-title"> 
  <%= link_to "このアプリはヘルスケア相談アプリです", rooms_path, class: "home-title-title" %></div>
  <div class="swiper-container">
    <div class="swiper-wrapper"> 
      <div class="swiper-slide"><img src="assets/drugstore.jpeg"></div> 
      <div class="swiper-slide"><img src="assets/drug.jpeg"></div> 
      <div class="swiper-slide"><img src="assets/s.jpeg"></div> 
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
