<div class="test"> 
<% @users.each do |user| %> 
<% user.rooms.each do |room| %>
<div class="user_index">
<%= link_to room.box, user_room_path(user.id, room.id), class: "lead_user"%> 
<div class="user_info"><%= link_to "#{user.name}さん", user_path(user)%>
<%= link_to "フォロワー #{user.followers.count}" %></div>
<% if user.profile.present? %> 
<%= image_tag user.profile.image.url, class: "room_image"%>
<% else %> 
</div>
<% end %>
<% end %> 
<% end %>
</div>

