<h1>ホーム</h1>
<div class="test">
<% @users.each do |user| %> 
<% if user.profile.present? %>  
<%= image_tag user.profile.image.url, class: "room_image"%>
<% else %> 
<% end %>
<%= link_to user.name, room_path(user), class: "lead_user"%>  
<% end %> 
</div>