<div class="test"> 
<% @users.each do |user| %> 
<% user.rooms.each do |room| %>
<h5><%= link_to "#{user.name}さん", user_path(user)%></h5>
<h5><%= link_to room.box, room_path(room), class: "lead_user"%></h5> 
<% if user.profile.present? %> 
<%= image_tag user.profile.image.url, class: "room_image"%>
<% else %> 
<% end %>
<% end %> 
<% end %>
</div>

