<div class="count_all"> 
<div class="count_title">検索結果一覧</div>
<% @rooms.each do |room| %> 
<div class="count_index">
<div class="count_name">
<%= link_to room.box, root_path%> 
<%= link_to room.user.name, root_path%>
</div>
<div class="count_image">
<%= image_tag room.image.url, height: "35%", width: "45%", class: "count_image"%> 
</div> 
</div>
<% end %> 
</div>