.count_all { 
  margin-top: 30px;
}
.count_index { 
  position: relative; 
  margin-left: 20px;
  margin-top: 20px;
}  
.count_title { 
  text-align: center; 
  color: #fff;
  font-size: 20px;
}
.count_name { 
  position: absolute; 
  top: 410px; 
  left: 20px;
  font-size: 20px; 
  font-weight: bold; 
  padding: 5px; 
  border-radius: 10px;
  background-color: #fff;
} 
.count_image { 
  border-radius: 10px;
}
