.follow_all { 
  width: 100%;
  margin-top: 40px;
} 
.follow_title { 
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
.follow_image { 
  height: 300px; 
  width: 300px; 
  border-radius: 5%;
  margin: auto 10px; 
}
.follow_index { 
  position: relative;
  margin-bottom: 20px;
} 
.follow_info { 
  background-color: #fff; 
  padding: 5px; 
  border-radius: 10px; 
  padding-left: 120px;
  margin-bottom: 20px;
  margin-top: 5px; 
  font-weight: bold; 
  margin-right: 60px;
}