body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}  
.swiper-container { 
  margin-top: 80px;
  width: 900px;
  height: 500px; 
  border-radius: 5%;
} 


