.message_title { 
    text-align: center;
    font-weight: bold;
    color: #fff;
} 
#room_delete { 
    margin-left: 10px;
}
.Chat {
    display: flex; 
    justify-content: flex-end;
} 
.message_image { 
    width: 50%;
    margin-top: 120px;
    margin-left: 10px;
    margin-right: 10px;
} 
.message_image_first { 
    width: 100%;
    border-radius: 10px;
}

.self_image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    img {
    object-fit: cover;
    }
}

.MessageField {
    width: 50%;
    margin-top: 60px; 
}

.MessageBox {
    background-color: #fff;
    margin-bottom: 25px;
    padding: 10px;
    color: #2f2725;
    border-radius: 3px;
    width: 80%;
    position: relative;
    margin-top: 15px;
}

.MessageBox::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 0px;
    top: -15px;
    border-right: 15px solid transparent;
    border-bottom: 15px solid   #fff;
    border-left: 15px solid transparent;
}
.MessageBox::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 0px;
    top: -12px;
    border-right: 15px solid transparent;
    border-bottom: 15px solid   #fff;
    border-left: 15px solid transparent;
}

.Message{
    font-size: 13px;
    width: 100%;
}

.MessageInfo{
    width: 100%; 
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    font-weight: normal;
    &__userName { 
    }
    &__userEdit {
    display: inline;
    margin-left: 5px;
    }
}
.form { 
    display: flex;
    justify-content: center;
    .form-area {
    height: 40px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 300px;
    margin-left: 450px;
    }
    #submit {
    height: 40px;
    } 

}