.wrapper { 
  margin: auto 150px;
  padding-top:30px;
  font-weight: bold;
}
.mypage_index{ 
 width: 100%;
 font-size: 15px;
 text-align: center;
} 
.mypage_image { 
  width: 100%; 
  border-radius: 5%;

}
.mypage_info { 
 display: inline-block;
 text-align: left;
 font-size: 18px;
}