.form-main { 
  text-align: center;
  
}
.form-info { 
  display: inline-block;
  text-align: left;
} 
.self-info { 
  margin: 30px auto;
  font-size:30px;
  font-weight: bold;
}
.form-group { 
  margin-bottom: 25px;
  font-size: 20px;
}