.title { 
  text-align: center;
  margin-top: 30px; 
  font-size: 22px; 
  font-weight: bold; 
  color: #005b8f
}
#search_text { 
  display: inline;
  width: 94%;
}
#search_button { 
  float: right;
  display: inline;
} 
.index_follower { 
  float: right;
} 
.room_index { 
  float: right;
  margin-right: 300px;
}