.title { 
  text-align: center;
  margin-top: 30px; 
  font-size: 22px; 
  font-weight: bold; 
  color: #005b8f; 
  padding-bottom: 30px;
} 
.form-group { 
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
#search_button { 
  position: absolute;
  right: 360px; 
  top: 0px;
} 
.room_index { 
  padding-left: 10px;
} 