.store_main { 
  text-align: center; 
  margin-top: 50px;
}
.form-info { 
  display: inline-block;
  text-align: left; 
  font-weight: bold;
} 
.table { 
  color: #005b8f
}
.store_image { 
  width: 40%; 
  height: 500px;
  border-radius: 5%;
}
.store_none { 
  text-align: center; 
  color: #fff;
}